@import "base.css";
@import "dashboard-nav.css";
@import "footer.css";
  

* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  body{
    overflow-x: hidden;
  }
  nav.dashboard-navbar > div.nav-lg > div#lg-dash-nav-links > a,
  nav.dashboard-navbar > div.nav-lg > div.user-action,
  nav.dashboard-navbar > ul#profile-settings-dd  {
    border-radius: 8px;
  }


main h1, main .first-text, main .form-format #add-par {
    color: #002c33;
    font-family: 'DM Sans';
    text-align: center;
  }
  
  main h1, main .first-text, main .form-format #add-par {
    color: #002c33;
    font-family: 'DM Sans';
    text-align: center;
  }
  


main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 24px;
  margin: 40px 0;
  position: relative;
}

main .first-main {
  max-width: 824px;
  margin: 0 auto;
}

main h1 {
  font-weight: 700;
  font-size: 3rem;
  line-height: 76.8px;
  margin-bottom: 24px;
}

main .first-text, main .form-format #add-par {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 2.4rem;
  padding: 0 40px;
}

main .form-format {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
  width: 400px;
  padding: 24px;
  margin: auto;
}

main .form-format .upload-img {
  width: 104px;
  height: 104px;
  margin: auto;
  position: relative;
  cursor: pointer;
}

main .form-format .upload-img img {
  width: 62.4px;
  height: 83.2px;
  margin: 50% 50% 0 0;
  -webkit-transform: translate(35%, -50%);
          transform: translate(35%, -50%);
}

main .form-format .upload-img .file-in {
  position: absolute;
  top: 50%;
  opacity: 0;
  z-index: 10;
}

main .form-format #add-par {
  padding: 0 10px;
}

main .form-format .formatting {
  width: 100%;
  font-weight: 500;
  color: #002c33;
  font-size: 1.5rem;
  padding: 16px 24px;
  background-color: #F9FCFC;
  border: 1px solid #002c33;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
}

main .form-format .formatting option {
  font-size: 1rem;
  font-weight: 400;
}

main .form-format .formatting option:nth-child(1){
    display: none;
}

main .form-format .convert-btn {
  font-weight: 700;
  font-size: 1.5rem;
  color: #F9FCFC;
  padding: 16px 51.5px;
  display: block;
  margin: auto;
  background-color: #002c33;
  border: none;
  outline: none;
  -webkit-transition: all ease 1s;
  transition: all ease 1s;
  border-radius: 10px;
  text-align: center;
}

main .form-format .convert-btn:hover {
  background-color: #00515e;
}

/* The styling for the modal */
/* Begins  Here*/

.converting {
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    z-index: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  
  .converting .conv-modal {
    height: 400px;
    width: 612px;
    background-color: #f9f9f9;
    padding: 19px 102px;
    border-radius: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 10px;
  }
  
  .modal-conv {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background-color: #f9f9f9;
    -webkit-transition: background ease-in-out 2s;
    transition: background ease-in-out 2s;
    -webkit-animation: my-anime linear 1s infinite;
            animation: my-anime linear 1s infinite;
    border: 4px solid #002c33;
    border-right-color: #0000;
  }
  
  .conv-text {
    font-size: 1.5rem;
    font-weight: 700;
    color: #0A0A0A;
  }
  
  @-webkit-keyframes my-anime {
    50% {
      background-color: white;
      -webkit-transform: rotate(180deg);
              transform: rotate(180deg);
    }
    100% {
      background-color: white;
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
  
  @keyframes my-anime {
    50% {
      background-color: white;
      -webkit-transform: rotate(180deg);
              transform: rotate(180deg);
    }
    100% {
      background-color: white;
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
  
  .complete {
    width: 256px;
    height: 153px;
  }
  
  .success {
    width: 66.67px;
    height: 45.83px;
    display: block;
    margin: 14px auto;
  }
  
#download {
    font-weight: 700;
    font-size: 1.5rem;
    color: #F9FCFC;
    padding: 16px 30px;
    background-color: #0A0A0A;
    border-radius: 10px;
  }
  
  /* Ends Here */


  
@media screen and (max-width: 500px) {
    .first-main {
      width: 92%;
    }
  }

  @media screen and (max-width: 900px) {
    main {
      margin: 30px 0;
    }
    main .form-format {
      width: 90%;
    }
    main .form-format .upload-img {
      width: 60px;
      height: 60px;
      margin: auto;
    }
    main .form-format .upload-img img {
      width: 48px;
      display: block;
      margin: auto;
      -webkit-transform: translate(0, 0);
              transform: translate(0, 0);
      height: 54px;
    }
    main .form-format #add-par {
      font-weight: 400;
      font-size: 0.75rem;
      line-height: 19px;
    }
    main .form-format .convert-btn {
      width: 100%;
      border-radius: 5px;
      font-weight: 500;
      font-size: 1rem;
      padding: 16px 24px;
    }
    main .form-format .formatting {
      font-size: 1rem;
    }
  }
  
  .no-value{
    opacity: 0.5;
    /* pointer-events: none; */
  }