/* dashboard navbar's style */
nav.dashboard-navbar {
    position: relative;
    padding: 40px 6.4%;
    background: transparent;
}
nav.dashboard-navbar a:hover {
    cursor: pointer;
}
nav.dashboard-navbar > div {
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background: transparent;
}
nav.dashboard-navbar > div.nav-sm {
    display: flex;
}
nav.dashboard-navbar > div.nav-lg {
    display: none;
}
nav.dashboard-navbar > div.nav-sm > a {
    display: flex;
    justify-content: center;
}
nav.dashboard-navbar > div.nav-sm > a > img:nth-child(1) {
    display: block;
}
nav.dashboard-navbar > div.nav-sm > a > img:nth-child(2) {
    display: none;
}
nav.dashboard-navbar > div.nav-sm > button#profile-set,
nav.dashboard-navbar > div.nav-lg > div.user-action > div#profile-img {
    width: 40px;
    height: 40px;
    background: var(--primary-dark);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: 700;
    color: var(--primary-white);
}
nav.dashboard-navbar > ul#profile-settings-dd {
    background: var(--primary-bg);
    position: absolute;
    width: 100%;
    max-width: 220px;
    top: 110px;
    right: 6.5%;
    border: 1px solid var(--primary-dark);
    display: none;
    flex-flow: column nowrap;
    align-items: flex-start;
    z-index: 99;
}
nav.dashboard-navbar > ul#profile-settings-dd > li {
    width: 100%;
}
nav.dashboard-navbar > ul#profile-settings-dd > li > a,
nav.dashboard-navbar > ul#profile-settings-dd > li > button {
    width: 100%;
    padding: 16px 24px;
    display: flex;
    gap: 10px;
    align-items: center;
    color: var(--primary-dark);
    transition: .3s ease-in-out;
    background: transparent;
    font-family: var(--primary-font);
    font-size: 16px;
}
nav.dashboard-navbar > ul#profile-settings-dd > li a.e-p,
nav.dashboard-navbar > ul#profile-settings-dd > li > button {
    gap: 15px;
}
nav.dashboard-navbar > ul#profile-settings-dd > li > a > svg > path,
nav.dashboard-navbar > ul#profile-settings-dd > li > button > svg > path {
    transition: .3s ease-in-out;
}
nav.dashboard-navbar > ul#profile-settings-dd > li > a:hover > svg > path,
nav.dashboard-navbar > ul#profile-settings-dd > li > button:hover > svg > path {
    fill: var(--primary-white);
}
nav.dashboard-navbar > ul#profile-settings-dd > li > a:hover,
nav.dashboard-navbar > ul#profile-settings-dd > li > button:hover {
    background: var(--secondary-blue);
    color: var(--primary-white);
}
#mb-dash-nav-links {
    display: none;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,.4);
    z-index: 999;
    height: 100vh;
}
#mb-dash-nav-links > div {
    max-width: 400px;
    height: 100%;
    background: var(--primary-dark);
    display: flex;
    flex-flow: column nowrap;
    padding-top: 40px;
}
#close-sm-bar {
    width: 30px;
    align-self: flex-end;
    margin-right: 30px;
    margin-bottom: 20px;
}
#close-sm-bar > svg {
    fill: var(--primary-white);
}
#mb-dash-nav-links > div > a {
    width: 100%;
    color: var(--primary-white);
    font-size: 18px;
    padding: 18px 30px;
    transition: .3s ease-in-out;
}
#mb-dash-nav-links > div > a.active-page {
    background: var(--primary-dark);
    color: var(--primary-white);
}
#mb-dash-nav-links > div > a:hover {
    background: var(--secondary-blue);
    cursor: pointer;
}
@media screen and (min-width: 600px) {
    nav.dashboard-navbar {
        padding: 6.667% 10% 7.362%;
    }
    nav.dashboard-navbar > div.nav-sm > a > img:nth-child(1) {
        display: none;
    }
    nav.dashboard-navbar > div.nav-sm > a > img:nth-child(2) {
        display: block;
        width: 70%;
        max-width: 270px;
        height: auto;
    }
    nav.dashboard-navbar > ul#profile-settings-dd {
        right: 10%;
        max-width: 250px;
        top: 80%;
    }
    @media screen and (min-width: 1100px) {
        nav.dashboard-navbar {
            padding: 6.667% 7.1% 7.362%;
        }
        nav.dashboard-navbar > div.nav-sm {
            display: none;
        }
        nav.dashboard-navbar > div.nav-lg {
            display: flex;
        }
        nav.dashboard-navbar > div.nav-lg > a.logo {
            max-width: 267px;
        }
        nav.dashboard-navbar > div.nav-lg > a.logo > img {
            width: 100%;
        }
        nav.dashboard-navbar > div.nav-lg > div#lg-dash-nav-links {
            width: 34.5%;
            height: 71px;
            max-width: 396px;
            display: flex;
            gap: 8px;
        }
        nav.dashboard-navbar > div.nav-lg >  div#lg-dash-nav-links > a {
            width: 50%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            color: var(--primary-dark);
            transition: .3s ease-in-out;
            font-weight: 500;
            font-size: 24px;
        }
        nav.dashboard-navbar > div.nav-lg >  div#lg-dash-nav-links > a.active-page {
            background: var(--primary-dark);
            color: var(--primary-white);
        }
        nav.dashboard-navbar > div.nav-lg >  div#lg-dash-nav-links > a:hover {
            cursor: pointer;
            background: var(--secondary-blue);
            color: var(--primary-white);
        }
        nav.dashboard-navbar > div.nav-lg >  div.user-action {
            border: 1px solid var(--primary-dark);
            background: transparent;
            width: 30%;
            max-width: 312px;
            height: 72px;
            padding: 0 33px 0 24px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: var(--primary-dark);
        }
        nav.dashboard-navbar > div.nav-lg >  div.user-action > h2 {
            font-size: 24px;
            font-weight: 700;
        }
        nav.dashboard-navbar > ul#profile-settings-dd {
            width: 25.7%;
            max-width: 312px;
            top: 65%;
            right: 7.1%;
        }
    }
}

