* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 80px;
  /* position: relative; */
  width: 1440px;
  height: 2831px;
  background: #f9f9f9;
}
header {
  /* display: flex;
  justify-content: space-between;
  padding: 1em 2em;
  font-family: "Poppins"; */
}
header img {
  width: 14%;
}
header button {
  border: none;
  color: white;
  text-decoration: none;
  background-color: #002c33;
  text-align: center;
  font-weight: bold;
  padding: 10px 25px;
  /* border-radius: 15px; */
}
/* .container{
  position: relative;
  width: 1200px;
  height: 400px;
  margin: 40px auto;
} */
.float .box {
  /* float: left;
  width: 50%;
  padding: 20px;
  
  margin: 1px; 

  height: 300px; 
  border: 1px solid black; */
  position: relative;
  width: calc(580px - 30px);
  height: calc(315px - 30px);
  float: left;
  margin: 6px;
  box-sizing: border-box;
  border: 1px solid black;
  overflow: hidden;
}

/* footer div a { 
   display: flex;
  text-align: center;
  align-items: baseline;
  justify-content: space-between;
  text-decoration: none;
} 
 div a {
  font-size: 1rem;
  display: block;
  color: hsl(208, 11%, 55%);
  transition: 0.4s;
}
div a:hover {
  color: hsl(322, 100%, 66%);
  transform: translateX(-12px);
}    */
/* Responsivenesss Parts for the Landing Mobile */

/* @media screen and (max-width: 1440px) and (min-width: 375px) {

  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0px 0px;
    gap: 24px;
    position: relative;
    width: 375px;
    height: 1705px;
    background: #f9fcfc;
  }
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 24px 24px 0px;
    gap: 148.25px;
    width: 375px;
    height: 42px;
  }

  header button {
    border: none;
    color: white;
    text-decoration: none;
    background-color: #002c33;
    text-align: center;
    font-weight: bold;
    padding: 3px 6.3px;
    height: 42px;
  }
  header img {
    width: 16%;
  }
  h2 {
    width: 241px;
    height: 77px;

    font-family: "DM Sans";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 38px;

    text-align: center;

    color: #002c33;

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
  }

  .text1 {
    width: 241px;
    height: 77px;

    font-family: "DM Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 19px;

    display: flex;
    align-items: center;
    text-align: center;

    color: #002c33;

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
  }
  .btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 24px;

    width: 155px;
    height: 48px;

    background: #002c33;

    flex: none;
    order: 1;
    flex-grow: 0;
  }
  h4 {
    width: 201px;
    height: 39px;

    font-family: "DM Sans";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 38px;

    text-align: center;

    color: #002c33;

    flex: none;

    order: 0;
    flex-grow: 0;
  }
  .text2 {
    width: 327px;
    height: 135px;

    font-family: "DM Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 19px;

    text-align: center;

    color: #002c33;

    flex: none;
    order: 1;
    flex-grow: 0;
  }
  h4 {
    width: 218px;
    height: 39px;

    font-family: "DM Sans";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 38px;

    text-align: center;

    color: #002c33;

    flex: none;
    order: 0;
    flex-grow: 0;
  }
  .use {
    width: 173px;
    height: 26px;

    font-family: "DM Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    display: flex;
    

    text-align: center;

    

    color: #002c33;

    
    flex: none;
    order: 0;
    flex-grow: 0;
  }
  .user {
    width: 327px;
    height: 96px;

    font-family: "DM Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 19px;

    text-align: center;

    color: #002c33;

    flex: none;
    order: 1;
    flex-grow: 0;
  }
  section {
    display: flex;
    justify-content: space-between;
    width: 85%;
  }
  section div img h4{
    width: 51px;
    height: 26px;

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;


    text-align: center;
    margin-top: 1em;
    margin-left: 0.88em;

    

    color: #002c33;

   

    flex: none;
    order: 1;
    flex-grow: 0;
  }

  footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px;
    gap: 16px;

    width: 375px;
    height: 42px;

    background: #002c33;

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
  }
} */
