@import 'main';
@mixin initial_setting($sizing, $noM, $noP){
    box-sizing: $sizing;
    margin: $noM;
    padding: $noP;

}
@mixin laptop(){
    @media screen and (max-width: 1350px){
        @content
    }
};
@mixin mobile(){
    @media screen and (max-width: 1100px) {
        @content
    }
};
@mixin mini(){
    @media screen and (max-width: 500px) {
        @content
    }
};
@mixin tablet(){
    @media screen and (max-width: 1100px){
        @content
    }
}