/* @import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap'); */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
  font-family: 'DM Sans', sans-serif;
  background: #f9f9f9;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 96px 6.7% 24px;
    width: 100%;
}
header img {
  height: 40px;
  width: 281.02px;
}
.head-links{
  display: flex;
  flex-direction: row;
  gap: 24px;
  width: 29.65%;
  min-width: 412px;
  max-width: 415px;
}
header .header-links, .m-button{
  display: block;
  border: none;
  text-decoration: none;
  font-size: 1.5rem;
  text-align: center;
  padding: 16px 56px;
  font-weight: 500;
  border-radius: 5px;
  flex: 1;
  max-width: 194px;
  transition: background-color ease-out 300ms;
}
header .header-links:first-child{
  color: #002c33;
  background-color: #f9fcfc;
}

header .header-links:last-child{
color: #f9fcfc;
background-color: #002c33;
}

header .header-links:hover{
  background-color: #319197;
}


.main-1 {
display: flex;
justify-content: space-between;
align-items: center;
padding: 24px 6.7%;
gap: 30px;
margin-bottom: 104px;
}
.angle-left, .angle-right{
width: 80px;
height: 100%;
padding: 5px;
cursor: pointer;
                    }
.angle-left .arrow, .angle-right .arrow{
  width: 100%;
  height: 80px;
                }

.m-text{
display: flex;
align-items: center;
gap: 0 10px;
overflow: hidden;
                }

.m-text-1 h2, .m-text-2 h2{
font-weight: 700;
font-size: 3.25rem;
color: #002c33;
text-align: center;
margin-bottom: 24px;
                        }
.m-text-1 p, .m-text-2 p{
font-size: 1.5rem;
font-weight: 500;
color: #002c33;
text-align: center;
padding: 0 7%;
line-height: 38px;
            }
.m-text-1, .m-text-2{
  padding: 10px;
  min-width: 100%;
                  }
 .m-text-1, .m-text-2{
  position: relative;
                }
.m-button{
  flex: none;
  padding: 16px 37px;
  margin: 80px auto 0;
  color: #f9fcfc;
  background-color: #002c33;
  max-width: none;
  width: 195px;
  border: 1px solid transparent;
  transition: background-color 1s ease;
       }
  .m-button:hover{
    border-color: #002c33;
    color: #002c33;
    background-color: #f9fcfc;
  }
section{
  padding: 24px 6.7% 0;
                  }

.container-1{
margin-bottom: 80px;
padding: 0 6.7%;
                }
.container-1 h4{
font-size: 2.5rem;
text-align: center;
color: #002c33;
font-weight: 700;
margin-bottom: 16px;
                    }
.container-1 p{
  font-size: 1.5rem;
  text-align: center;
  color: #002c33;
  font-weight: 400;
  line-height: 38px;
                }

.container-2{
  padding: 5px 6.7%;
  margin-bottom: 80px;
              }
.container-2 h3{
  font-size: 2.5rem;
  text-align: center;
  color: #002c33;
  font-weight: 700;
  margin-bottom: 80px;
              }
.main-cont-boxes{
display: grid;
grid-template-columns: repeat(2, 1fr);
gap:80px 12px ;
            }
.box{
  padding: 24px;
  border: 1px solid #002c33;
  max-width: 612px;
          }
.box h5{
  font-size: 2rem;
  text-align: center;
  color: #002c33;
  font-weight: 700;
  margin-bottom: 16px;
              }
.box p{
  color: #002c33;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 38px;
}
.container-3{
padding: 0 6.7%;

}
.container-3 h2{
  text-align: center;
  color: #002c33;
  font-weight: 700;
  font-size: 2.5rem;
  margin-bottom: 30px;
}
.container-3 .main-info{
  max-width: 824px;
  margin: 0 auto;
}
.container-3 .fig-cont{
display: flex;
align-items: flex-start;
justify-content: space-between;
margin-bottom: 30px;
}
.container-3 .fig-cont figure{
padding: 5px;
}
.container-3 .fig-cont figure img{
  display: block;
  height: 104px;
  width: 104px;
  margin-bottom: 16px;
}
.container-3 .fig-cont figure figcaption{
  color: #002c33;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 700;
}

.container-3 .fig-cont figure:nth-child(1) img{
  padding: 10.4px;
}
.container-3 .fig-cont figure:nth-child(2) img{
  padding: 13px;
}
.container-3 .fig-cont figure:nth-child(3) img{
  padding: 8.84px 13px;
}
.user-info{
  text-align: center;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 38px;
  color: #002c33;
  max-width: 954px;
  margin: 0 auto;
}

footer{
  width: 100%;
  padding: 24px 14%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  background-color: #002c33;
}
footer  *{
  display: block;
  font-weight: 400;
  font-size: 1rem;
  color: #f9fcfc;
}

footer a{
  text-decoration: none;
}
footer a:hover{
color: #c0f2f2;
}
@media screen and (max-width:900px) {
  body{
    width: 100%;
    padding: 40px 0 0;
    gap: 24px;
  }
  /* Remember 24px margin on Both sides of all subelements */
  header{
    margin: 0 0 24px;
    padding: 0 24px 0 24px;
    justify-content: space-between;

  }
  header img{
    height: 40px;
    width: 40px;
  }
   .head-links{
    gap: 8px;
    min-width: unset;
    max-width: 155px;
    width: unset;
  }
  header .header-links:nth-child(1){
    text-align: center;
    padding: 6px 12px;
    font-weight: 400;
    font-size: 1rem;
    background-color: transparent;

  }
  header .header-links:nth-child(2){
    text-align: center;
    max-width: 84px;
    padding: 6px 12px;
    font-weight: 400;
    font-size: 1rem;
    margin-right: 10px;
  }
  header .header-links:hover{
    background-color: #319197;
  }

  .angle-left, .angle-right{
    max-height: 24px;
    max-width: 24px;
    margin-top: 20px;
  }
  .angle-left .arrow, .angle-right .arrow{
    height: 100%;
    width: 100%;
  }
  

  .m-text-1 h2, .m-text-2 h2{
    font-weight: 500;
    font-size: 1.5rem;
    margin-bottom: 4px;
  }
  .m-text-1 p, .m-text-2 p{
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 19px;
  }
  .m-text-1, .m-text-2{
    padding: 10px 5px;
    max-width: 241px;

  }
  .m-button{
    font-size: 1rem;
    padding: 16px 24px;
    width: 155px;
    margin:24px auto 0 ;
  }
  .main-1{
    padding: 16px 0;
    justify-content: center;
    padding: 10px 24px;
    margin: 24px auto;
    align-items: flex-start;
    width: 100%;
  }
  /* 24px margin all subelements */
  .container-1{
    padding: 10px 2%;
    margin-bottom: 24px;
  }
  .container-1 h4{
    font-weight: 500;
    font-size: 1.5rem;

  }
  .container-1 p{
    font-size: 0.75rem;
    line-height: 19px;
  }
  .container-2{
    padding: 15px;
    margin-bottom: 24px;
  }
  .container-2 h3{
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 16px;
  }
  .main-cont-boxes{
    grid-template-columns: 1fr;
    gap: 16px;
    place-items: center;
  }
  .box{
    max-width: 327px;
  }
  .box h5{
    font-size: 1rem;
  }
  .box p{
    font-size: 0.75rem;
    line-height: 19px;
  }

  .container-3{
    padding: 5px 16px;
    margin: 0 24px;
  }
  .container-3 h2{
    font-size: 1rem;
    margin-bottom: 16px;
  }
  .container-3 .fig-cont{
    margin:0 auto 16px;
    width: 80%;
    max-width: 320px;
    gap: 21px;
  }
  .container-3 .fig-cont figure img{
    height: 36px;
    width: 36px;
  }
  .container-3 .fig-cont figure figcaption{
    font-size: 1rem;
  }


  .container-3 .fig-cont figure:nth-child(1) img{
    padding: 3.6px 7.2px 3.6px 3.6px;
  }
  .container-3 .fig-cont figure:nth-child(2) img{
    padding: 4.5px;
  }
  .container-3 .fig-cont figure:nth-child(3) img{
    padding: 3.06px 4.5px;
  }
.user-info{
  font-size: 0.75rem;
  line-height: 19px;
  max-width: 407px;
}
footer{
  padding: 16px;
  gap: 16px;
}
footer *{
  font-weight: 500;
  font-size: 0.5rem;

}


}