* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.logo-img {
  float: left;
  position: relative;
  margin: 0px 5px 5px 5px;
  width: 180px;
  height: 60px;
}
.button {
  border: 2px solid whitesmoke;
  background-color: white;
  color: #002C33;
  padding: 14px 55px;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  cursor: pointer;
}
.button1 {
  background-color: #002C33; 
  color: white; 
  border: none;
}
body {
  font-family: "Open Sans", sans-serif;
}

nav {
  background: #fff;
  color: #fff;
  display: flex;
  justify-content: space-between;
}

nav .mainMenu {
  display: flex;
  list-style: none;
}

nav .mainMenu li a {
  display: inline-block;
  padding: 15px;
  text-decoration: none;
  text-transform: uppercase;
  color: #002C33;
  font-size: 1.5rem;
}

nav .mainMenu li a:hover {
  background: white;
}

nav .openMenu {
  font-size: 2rem;
  margin: 20px;
  display: none;
  cursor: pointer;
}

nav .mainMenu .closeMenu,
.icons i {
  font-size: 2rem;
  display: none;
  cursor: pointer;
  padding: 10px 10px 10px 10px;
}

.fa-facebook:hover {
  color: rgb(0, 110, 255);
}

.fa-twitter:hover {
  color: rgb(86, 154, 243);
}

.fa-instagram:hover {
  color: rgb(255, 0, 191);
}

.fa-github:hover {
  color: rgb(255, 123, 0);
}

nav .logo {
  margin: 6px;
  font-size: 3px;
  cursor: pointer;
}

@media (max-width: 800px) {
  nav .mainMenu {
      height: 100vh;
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      z-index: 10;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background: #fff;
      transition: top 1s ease;
      display: none;
  }
  nav .mainMenu .closeMenu {
      display: block;
      position: absolute;
      top: 30px;
      right: 20px;
  }
  nav .openMenu {
      display: block;
  }
  nav .mainMenu li a:hover {
      background: none;
      color: rgb(255, 123, 0);
      font-size: 1.6rem;
  }
  .icons i {
      display: inline-block;
      padding: 12px;
  }
}


* {
  box-sizing: border-box
}
html, body {
  height: 100%
}
body {
	font: 11px "Open Sans", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin: auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  
}
ul {
  list-style: none
}
a {
  text-decoration: none
}
.flex-rw {
  display: flex;
  flex-flow: row wrap;
}

main {
  flex: 1 1 auto; 
  display: flex;
  align-items: center;
  justify-content: center;
  font: 10em "Oswald", sans-serif;
  color: #fff;;
  line-height: 1
}
footer {
  background: #002C33;
  margin-top: auto;
  width: 100%
}
.footer-list-top {
  width: 33.333%
}
.footer-list-top > li {
  text-align: center;
  padding-bottom: 10px;
}
.footer-list-header {
  padding: 10px 0 5px 0;
  color: #fff;
  font: 2.3vw "Oswald", sans-serif, 80px
}
.footer-list-anchor {
  font: 1.3em "Open Sans", sans-serif, 29.7743px
}

